html, body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

.app {
  display: grid;
  grid-template-columns: 10% auto 15%;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
  "header header header"
  "sidebar main-pic secondary-sidebar"
  "sidebar content secondary-sidebar"
}

.main-header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid gray;
  padding: 10px;
  margin: auto 30px;
  margin-bottom: 15px;
}

.main-header h1 {
  font-size: 52px;
  color: gray;
  letter-spacing: 10px;
}

.main-header .app-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid gray;
    padding: 25px;
    font-size: 14px;
    color: gray;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  background: whitesmoke;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-options button {
  padding: 10px;
  font-size: 14px;
  background: transparent;
  width: 100px;
  margin: 5px;
  border: 1px solid black;
}

.sidebar-options button:hover {
  background: black;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  background: #222;
  width: 100%;
}

.body {
  grid-area: main-pic, content;
  background: lightgray;
  height: 100%;
}

.main-image-container {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
}

.main-image-container img {
  max-height: 100%;
  /* max-width: 100%;; */
}