html, body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

.app {
  display: grid;
  grid-template-columns: 10% auto 15%;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
  "header header header"
  "sidebar main-pic secondary-sidebar"
  "sidebar content secondary-sidebar"
}

.main-header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid gray;
  padding: 10px;
  margin: auto 30px;
  margin-bottom: 15px;
}

.main-header .app-name {
  font-size: 52px;
  color: gray;
  letter-spacing: 10px;
  text-decoration: none;
}

.main-header .app-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid gray;
    padding: 25px;
    font-size: 14px;
    color: gray;
}

/* TAG: SIDEBAR */
.sidebar {
  grid-area: sidebar;
  height: 100vh;
  background: whitesmoke;
}

.sidebar .message {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-size: 18px;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-options button {
  padding: 10px;
  font-size: 14px;
  background: transparent;
  width: 100px;
  margin: 5px;
  border: 1px solid black;
}

.sidebar-options button:hover {
  background: black;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  background: #222;
  width: 100%;
}

.body {
  grid-area: main-pic, content;
  height: 100%;
}

.main-image-container {
  grid-area: main-pic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 500px; */
  width: 100%;
  margin: 15px;
  border-bottom: 1px solid gray;
}

.main-image-container .image-container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container img {
  margin: 10px;
  max-height: 100%;
  /* max-width: 100%;; */
  border-radius: 5px;
}

.main-image-container img:hover {
  opacity: 0.8;
}

.main-image-container .owner-container {
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.photo-collection {
  grid-area: content;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.collection-photo-container {
  height: 700px;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.collection-photo-container img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  margin: 10px;
}

.collection-photo-container img:hover {
  opacity: 0.8;
}

.collection-photo-container .owner {
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

/* TAG: Register Page and Login */
.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.auth-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.auth-form-container form label {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  width: 70%;
  padding: 10px;
  margin: 5px;
}

.auth-form-container form input {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid gray;
}

.auth-form-container .button-container {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.action-button, .cancel-button {
  padding: 10px;
  font-size: 14px;
  background: transparent;
  width: 100px;
  margin: 5px;
  border: 1px solid black;
}

.action-button {
  background: black;
  color: white;
}

/* TAG: PHOTO ID PAGE */

.photo-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 15px;
  margin-bottom: 100px;
}

.photo-detail-container .image-container {
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-detail-container .details-container {
  margin: 15px auto;
}

.upload-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.form-headline {
  width: 100%;
  font-size: 24px;
  margin-bottom: 15px;
}

.upload-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upload-form label {
  font-size: 18px;
  margin-bottom: 10px;
}

.upload-form .photo-upload-label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.upload-form input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-form textarea {
  resize: none;
  width: 75%;
  height: 100px;
  font-size: 16px;
  padding: 5px;
}